@if (isEditing) {
  <button class="btn btn-outline-primary btn-sm" (click)="onUpdate()">
    Update
  </button>
  <button class="btn btn-outline-primary btn-sm" (click)="onCancel()">
    Cancel
  </button>
} @else {
  <button class="btn btn-outline-primary btn-sm" (click)="onEdit()">
    Edit
  </button>
}
