<div class="pagination">
  <div class="wrapper">
    <div class="size-block">
      <label for="pageSize">Page Size:</label>
      <select
        #sizes
        name="pageSize"
        id="pageSize"
        class="form-select form-select-sm"
        [value]="pageSize"
        (change)="changePageSize(sizes.value)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
    </div>
    <div class="nav-block">
      <button
        class="btn btn-outline-primary my-2 my-sm-0"
        (click)="changePage(currentPage - 1)"
        [disabled]="currentPage === 1 || totalPages === 0">
        Previous
      </button>
      <span class="nav-block-status"
        >Page {{ currentPage }} of {{ totalPages }}</span
      >
      <button
        class="btn btn-outline-primary my-2 my-sm-0"
        (click)="changePage(currentPage + 1)"
        [disabled]="currentPage === totalPages || totalPages === 0">
        Next
      </button>
    </div>
  </div>
</div>
