.pagination {
  display: flex;
  justify-content: end;

  label {
    padding-right: 10px;
    text-wrap: nowrap;
  }

  .wrapper {
    align-items: center;
    display: flex;
  }

  .nav-block {
    &-status {
      padding: 0 20px;
    }
  }

  .size-block {
    align-items: center;
    display: flex;
    margin-right: 50px;

    select {
      height: 100%;
    }
  }
}
