<div class="row">
  <div class="col-lg-10">
    <input
      #query
      class="form-control mr-sm-2"
      type="text"
      placeholder="Search"
      aria-label="Search" />
  </div>
  <div class="col-lg-1">
    <button
      class="btn btn-outline-primary my-2 my-sm-0"
      (click)="onSearch(query.value)">
      Search
    </button>
  </div>
</div>
