.example-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.example-header {
  align-items: baseline;
  column-gap: 20px;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  margin-bottom: 5px;
}
