<div class="example-wrapper">
  <div class="example-header">
    <span>Quick Filter:</span>
    <input #query type="text" placeholder="Filter..." />
    <button class="btn btn-primary btn-sm" (click)="onSearch(query.value)">
      Search
    </button>
  </div>

  <ag-grid-angular
    class="ag-theme-quartz"
    [columnDefs]="colDefs()"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData | async"
    [pagination]="true"
    [paginationPageSize]="5"
    [paginationPageSizeSelector]="[5, 10]"
    [rowDragManaged]="true"
    [rowDragEntireRow]="true"
    (gridReady)="onGridReady($event)"
    editType="fullRow"
    domLayout="autoHeight"
    [suppressClickEdit]="true">
  </ag-grid-angular>
</div>
