<!--
Basic layout with header and main section.
Currently the header section only contains the navigation for this application.
-->

<header class="header">
  <app-navigation />
</header>
<main class="main container">
  <section class="content">
    <router-outlet />
  </section>
</main>
