.content {
  background-color: rgb(230, 241, 247);
  display: flex;
  justify-content: center;
  padding: 25px 0;

  article {
    width: 80%;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 40px;
  }

  h3 {
    font-size: 1rem;
  }
}
