<div class="content">
  <article>
    <h1>Angular Data Table</h1>
    <article>
      <h2>What's this about?</h2>
      <p>
        This small demo application intends to show different approaches for
        creating a reusable and editable table.
      </p>
      <p>
        The project tries to show different ways for solving general problems.
        These can be, for example, of a programmatic or architectural nature. A
        fully responsive and good looking design wasn't the goal of this
        solution. To make it look a bit better Bootstrap was used. Next to AG
        Grid (see Quick and Easy) this project only uses lodash as additional
        library. And, of course, eslint and prettier for linting and code
        formatting. The rest of the project uses the default settings set on
        creation.
      </p>
    </article>
    <article>
      <h2>What does it do?</h2>
      <p>
        There are 2 different solutions presented on 3 different pages, Users,
        Products and QuickAndEasy. Users and Products both use the table
        implementation of this project. QuickAndEasy demonstrates how the
        general logic can be easily adapted for usage with third-party
        libraries. In this case AG Grid.
      </p>
    </article>
    <article>
      <h3>Users</h3>
      <p>
        The table in this example is configured to use local data. Necessary
        data is prefetched and passed as input parameter to the table. For demo
        purposes a table search event will always produce a http request.
        Therefore an API endpoint is also provided to the table. Otherwise this
        wouldn't be necessary.
      </p>
    </article>
    <article>
      <h3>Products</h3>
      <p>
        In this example the table is configured to use remote data. Therefore
        the table handles initial data loading itself. Since the API used for
        fetching products doesn't support most of the endpoints needed, only
        sorting will be performed as remote operation. Unfortunately the api
        sorts by ID per default, so only the sort direction has an effect. But
        the basic idea should be clear.
      </p>
    </article>
    <article>
      <h3>Quick And Easy</h3>
      <p>
        This example demonstrates how the general logic, for configuring the
        table's datasource and visible columns, can be used with an external
        library. In this case it's AG Grid but it could be any other library.
      </p>
    </article>
  </article>
</div>
