.table-wrapper {
  border: 1px solid darkgray;
  margin: 20px 0;
  min-height: 200px;
  max-height: 800px;
  overflow: auto;
}

.table-head {
  .arrow {
    cursor: pointer;
    user-select: none;

    &.asc::after {
      content: '▲';
    }
    &.desc::after {
      content: '▼';
    }
  }
}

.actions {
  .edit {
    button {
      width: 65px;
    }
  }
}
.inline-form {
  .actions {
    min-width: 150px;

    .edit {
      display: flex;

      :first-child {
        margin-right: 20px;
      }
    }
  }
}
