<!-- Searchbarsection -->
<section>
  <div class="search-bar">
    <app-search-bar (searchEvent)="onTableSearch($event)" />
  </div>
</section>
<!-- Table section -->
<section>
  <div class="table-wrapper table-responsive">
    <table class="table" appSorter (sortChange)="onSortChange($event)">
      <thead class="table-head">
        <tr>
          @for (header of tableHeaders(); track header) {
            <th scope="col" [attr.data-key]="header.key" appSortable>
              {{ header.name }}
            </th>
          }
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="table-body">
        @for (data of rowData(); track data; let idx = $index) {
          <!-- Use activeEditRow for switching between display and edit mode -->
          @if (activeEditRow !== idx) {
            <ng-container
              *ngTemplateOutlet="
                displayRow;
                context: { $implicit: data, idx: idx }
              "></ng-container>
          } @else {
            <ng-container *ngTemplateOutlet="editRow"></ng-container>
          }
        }
      </tbody>
    </table>
  </div>
  <!-- Custom table footer -->
  <app-custom-table-footer
    [initialPageSize]="tableConfig().initialPageSize"
    [totalEntries]="dataSize"
    (pageChanged)="onPageChanged($event)"
    (pageSizeChanged)="onPageSizeChanged($event)" />
</section>

<!-- Row template for display mode -->
<ng-template #displayRow let-data let-idx="idx">
  <tr>
    @for (key of tableDataKeys(); track key) {
      <td>{{ getPropertyValue(key, data) }}</td>
    }
    <td>
      <div class="actions">
        <div class="edit">
          <button
            class="btn btn-outline-primary btn-sm"
            (click)="onEditRow(idx)">
            Edit
          </button>
        </div>
      </div>
    </td>
  </tr>
</ng-template>

<!-- Row template for edit mode -->
<ng-template #editRow>
  <tr class="inline-form">
    @for (key of tableDataKeys(); track key) {
      <td>
        <!-- The form is quick and dirty. Sorry for that -->
        <form [formGroup]="form">
          @if (key.toString().includes('.')) {
            <div [formGroupName]="key.toString().split('.')[0]">
              <input
                type="text"
                [formControlName]="key.toString().split('.')[1]" />
            </div>
          } @else {
            <input type="text" [formControlName]="key.toString()" />
          }
        </form>
      </td>
    }
    <td>
      <div class="actions">
        <div class="edit">
          <button
            class="btn btn-outline-primary btn-sm"
            (click)="onUpdateRow()">
            Update
          </button>
          <button
            class="btn btn-outline-secondary btn-sm"
            (click)="onCancelEdit()">
            Cancel
          </button>
        </div>
      </div>
    </td>
  </tr>
</ng-template>
